In [2]:
import seaborn as sns

mpg_df = sns.load_dataset('mpg')

In [3]:
# a) do inital EDA such as info() and describe() and figure out what you want to do with the missing values
mpg_df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [4]:
# 6 missing values in horsepower
mpg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [ ]:
# finding out which index
mpg_df[mpg_df["horsepower"].isnull()]

In [23]:
# I decided to fill the the missing values with zero since I mostly want the mda values
mpg_df["horsepower"] = mpg_df["horsepower"].fillna(0)

In [ ]:
# double check
mpg_df.info()

In [ ]:
# b) use describe only on those columns that are relevant to get statistical information from
mpg_df.head(2)

In [ ]:
# mpg, 
mpg_df[["mpg", "cylinders", "displacement", "weight", "acceleration"]].describe()

In [ ]:
# d) make som plots on some of the columns that you find interesting
sns.heatmap(mpg_df[["mpg", "cylinders", "displacement", "weight", "acceleration"]].corr(),
            annot=True, cmap="rocket")

In [ ]:
sns.pairplot(mpg_df[["mpg", "cylinders", "displacement", "weight", "acceleration"]])

In [ ]:
sns.scatterplot(data=mpg_df, x="weight", y="mpg", hue= "cylinders", palette= "crest")